extends template.pug
block contents
  .container
    include includes/flash.component.pug
    .row
      .col-lg-2
        #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
          a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-home' role='tab' aria-controls='v-pills-home' aria-selected='true') Create a Post
          a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-profile' role='tab' aria-controls='v-pills-profile' aria-selected='false') Profile
          a#v-pills-blogs-tab.nav-link(data-toggle='pill' href='#v-pills-blogs' role='tab' aria-controls='v-pills-blogs' aria-selected='false') Blogs
      .col-lg-8
        #v-pills-tabContent.tab-content
          #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab') 
            //- create a blog form
            form(action="/blogs" method="post")
              .form-group
                label.text-muted(for="title") Title: 
                input.form-control#title(name="title" required autofocus)
                input(name="id" hidden value=`${currentUser._id}`)
              .form-group
                label.text-muted(for="description") Description:
                textarea#description.form-control(name="description", required, cols="30", rows="3")
              .form-group
                textarea#summernote(name="content" required)
              button.btn.btn-success Submit 
          #v-pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab') 
            //- reset profile form 
            .card.mt-3.mb-3
              .card-body 
                form(action=`/profile/update/${currentUser._id}`, method="post")
                  .form-group
                    small.text-muted Username: 
                    input.form-control(name="username" required)
                  .form-group
                    small.text-muted Password:
                    input.form-control(name="password" type="password" required)
                  button.btn.btn-secondary(type="submit") Update Profile 
                  a.btn.btn-danger.text-white.ml-2(href=`/profile/delete/${currentUser._id}`) Delete Profile
          #v-pills-blogs.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-blogs-tab') 
            //- reset profile form 
            table.table
              thead.thead-light
                h1 blog
              tbody
                if blogs
                  each blog in blogs
                    tr
                      td #{blog.title}
                      td
                        a.text-success(href=`/blogs/update/${blog._id}`) Update
                      td
                        a.text-danger(href=`/blogs/delete/${blog._id}`) Delete
                      
  script(src="script.js")
